* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: bisque;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

#easContainer {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: repeat(9, 1fr);
  width: 40vw;
  height: 40vw;
  gap: 1px;
}

.square {
  background-color: teal;
}

@media screen and (max-width: 992px) {
  #easContainer {
    width: 60vw;
    height: 60vw;
  }  
}
@media screen and (max-width: 768px) {
  #easContainer {
    width: 90vw;
  height: 90vw;
  }  
}