* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#easContainer {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

.square {
  border: 1px solid black;
}

@media screen and (max-width: 992px) {
  #easContainer {
    width: 70%;
  }  
}
@media screen and (max-width: 768px) {
  #easContainer {
    width: 90%;
  }  
}