* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  font-size: 16px;
}

header {
  background-color: #2d2d2d;
  color: #fff;
  text-align: center;
  padding: 1rem;
  /* margin-bottom: 2rem; */
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.buttons {
  padding: 10px;
}

button {
  min-width: 3rem;
}

/* this holds all of the square div 'pixels' */
#easContainer {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: repeat(9, 1fr);
  width: 40vw;
  height: 40vw;
  gap: 1px;
  border: 50px solid red;
  border-radius: 15px;
}

/* square 'pixels' */
.square {
  background-color: #ddd;
  transition: background-color .25s;
}

.squareChangeColor {
  background-color: #3d3d3d;
}

@media screen and (max-width: 992px) {
  #easContainer {
    width: 60vw;
    height: 60vw;
  }  
}
@media screen and (max-width: 768px) {
  #easContainer {
    width: 90vw;
  height: 90vw;
  }  
}