* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  font-size: 16px;
}

header {
  background-color: #2d2d2d;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.buttons,
#resolutionControls {
  padding: 10px;
}

button {
  min-width: 3rem;
  padding: 5px;
  border: solid 1px #2d2d2d;
  border-radius: 3px;
}

button.buttonClicked {
  background-color: #2d2d2d;
  color: #fff;
}

/* this is the etch a sketch screen that holds all of the square div 'pixels' */
#easContainer {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: repeat(9, 1fr);
  width: 40vw;
  height: 40vw;
  gap: 1px;
  border: 50px solid red;
  border-radius: 15px;
}

/* square 'pixels' */
.square {
  background-color: #ddd;
  transition: background-color .25s;
}

.squareDarkColor {
  background-color: #3d3d3d;
}

/* .squareShadeColor {
  background-color: teal;
  opacity: .2;
} */

/* media queries */
@media screen and (max-width: 1000px) {
  #easContainer {
    width: 50vw;
    height: 50vw;
  }  
}
@media screen and (max-width: 750px) {
  #easContainer {
    width: 60vw;
    height: 60vw;
    border-width: 40px;
  }  
}
@media screen and (max-width: 500px) {
  #easContainer {
    width: 80vw;
    height: 80vw;
    border-width: 30px;
  }  
}